.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 20px;
	word-break: keep-all;
	h2 {
		font-size: 1.3em;	
	}
	p {
		color: white;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;
	padding-top: 50px;
	padding-bottom: 0px;
	p {
		color: #fff;
	}
	.mainImage {
		margin-top: 30px;
	  	vertical-align: bottom;	
	  	width: 65%;
	}

	.logo {
		width:23%;
		margin-bottom: 15px;
	}
}

.case-content {
	#subject {
		margin-bottom:0px;
	}
	h2 {
		font-size: 2.05em;
		color: #333;
	}
	p {
		text-align: justify;
		font-size: 1.15em;
	}
}


.gray-background-color {
		background-color:#fafafa;
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

@media screen and (max-width: 640px) {
.bottom-cta {

	h2 {
		font-size: 1em;
	}
}
	.hero {
		.logo {
			width: 40%
		}
	}

	p {
		font-size: 17px;
	}

}
